<!DOCTYPE html>
<html lang="eng" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Успешное добавление наименования блока</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container mt-5">
  <div class="alert alert-success text-center" role="alert">
    <h4 class="alert-heading">Успешное добавление!</h4>
    <p>Наименование блока <strong th:text="${createdBlockName.blockName}">Block Name</strong> успешно добавлено.</p>
  </div>

  <div class="row">
    <div class="col-12 text-center">
      <a href="/block-names/create" class="btn btn-primary">Добавить еще одно наименование блока</a>
      <a href="/block-names" class="btn btn-link">Вернуться к списку наименований блоков</a>
    </div>
  </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
