<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="eng">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Детали секции по номеру</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container mt-5">
    <h1 class="text-center">Детали секции по номеру</h1>
    <div class="row mt-3">
        <div class="col-12">
            <p><strong>ID:</strong> <span th:text="${locoList.id}"></span></p>
            <p><strong>Номер договора:</strong> <span th:text="${locoList.contractNumber}"></span></p>
            <p><strong>Серия локомотива:</strong> <span th:text="${locoList.typeLoco}"></span></p>
            <p><strong>Тип системы:</strong> <span th:text="${locoList.typeSystem}"></span></p>
            <p><strong>Номер секции:</strong> <span th:text="${locoList.locoNumber}"></span></p>
            <p><strong>Регион:</strong> <span th:text="${locoList.homeRegion}"></span></p>
            <p><strong>Депо приписки:</strong> <span th:text="${locoList.homeDepot}"></span></p>
            <p><strong>Комментарий:</strong> <span th:text="${locoList.comment}"></span></p>
            <h2 class="text-center">Установленные блоки</h2>
            <div class="list-group">
                <div th:each="block : ${blocks}" class="list-group-item">
                    <h5 class="mb-1" th:text="${block.blockName}"></h5>
                    <p class="mb-1">Номер блока: <span th:text="${block.blockNumber}"></span></p>
                    <p class="mb-1">Дата выпуска: <span th:text="${block.dateOfIssue}"></span></p>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-12 text-end">
            <a href="/locos" class="btn btn-primary">Вернуться к списку секций</a>
            <a th:href="@{/locos/edit/{id}(id=${locoList.id})}" class="btn btn-warning">Редактировать</a>
            <a th:href="@{/locos/delete/{id}(id=${locoList.id})}" class="btn btn-danger">Удалить</a>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-12 text-end">
            <a href="/locos" class="btn btn-link">Главная страница секций</a>
        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
