<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Редактировать Блок</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container mt-5">
    <div class="row">
        <div class="col-12 text-center">
            <h1>Редактировать Блок</h1>
        </div>
        <div class="col-12">
            <div th:if="${errorMessage != null}">
                <p class="text-danger" th:text="${errorMessage}"></p>
            </div>
            <form th:action="@{/loco_blocks/edit/{id}(id=${locoBlock.id})}" method="post">
                <div class="mb-3">
                    <label for="systemType" class="form-label">Тип системы</label>
                    <input type="text" id="systemType" name="systemType" class="form-control" required th:value="${locoBlock.systemType}">
                </div>
                <div class="mb-3">
                    <label for="blockName" class="form-label">Наименование Блока</label>
                    <input type="text" id="blockName" name="blockName" class="form-control" required th:value="${locoBlock.blockName}">
                </div>
                <div class="mb-3">
                    <label for="blockNumber" class="form-label">Номер Блока</label>
                    <input type="text" id="blockNumber" name="blockNumber" class="form-control" required th:value="${locoBlock.blockNumber}">
                </div>
                <div class="mb-3">
                    <label for="dateOfIssue" class="form-label">Дата выпуска</label>
                    <input type="text" id="dateOfIssue" name="dateOfIssue" class="form-control" required th:value="${locoBlock.dateOfIssue}">
                </div>
                <div class="mb-3">
                    <label for="region" class="form-label">Регион</label>
                    <input type="text" id="region" name="region" class="form-control" required th:value="${locoBlock.region}">
                </div>
                <button type="submit" class="btn btn-warning">Обновить</button>
            </form>
        </div>
        <div class="row mt-3">
            <div class="col-12 text-end">
                <a href="/loco_blocks" class="btn btn-link">Управление блоками</a>
            </div>
        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
