<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Главная Страница</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <style>
        .btn-container {
            margin-bottom: 10px; /* Отступ снизу для кнопок */
        }
    </style>
</head>
<body>
<div class="container mt-5">
    <div class="row">
        <div class="col-12 text-center mb-3">
            <h1>Панель навигации</h1>
        </div>
        <div class="col-12">
            <!-- Создаем контейнер для кнопок и используем классы Bootstrap для их выравнивания -->
            <div class="row">
                <!-- Кнопки на мобильных устройствах занимают половину ширины строки и центрируются -->
                <div class="col-6 col-md-4 btn-container d-flex justify-content-center">
                    <a href="/users" class="btn btn-primary w-100">Сотрудники</a>
                </div>
                <div class="col-6 col-md-4 btn-container d-flex justify-content-center">
                    <a href="/regions" class="btn btn-primary w-100">Регионы</a>
                </div>
                <div class="col-6 col-md-4 btn-container d-flex justify-content-center">
                    <a href="/home-depots" class="btn btn-primary w-100">Депо приписки</a>
                </div>
                <div class="col-6 col-md-4 btn-container d-flex justify-content-center">
                    <a href="/repair-depots" class="btn btn-primary w-100">Депо ремонта</a>
                </div>
                <div class="col-6 col-md-4 btn-container d-flex justify-content-center">
                    <a href="/storages" class="btn btn-primary w-100">Склады</a>
                </div>
                <div class="col-6 col-md-4 btn-container d-flex justify-content-center">
                    <a href="/position-repairs" class="btn btn-primary w-100">Ремонтные позиции</a>
                </div>
                <div class="col-6 col-md-4 btn-container d-flex justify-content-center">
                    <a href="/type-locos" class="btn btn-primary w-100">Серии локомотивов</a>
                </div>
                <div class="col-6 col-md-4 btn-container d-flex justify-content-center">
                    <a href="/system-names" class="btn btn-primary w-100">Типы систем</a>
                </div>
                <div class="col-6 col-md-4 btn-container d-flex justify-content-center">
                    <a href="/block-names" class="btn btn-primary w-100">Наименование блоков систем</a>
                </div>
                <div class="col-6 col-md-4 btn-container d-flex justify-content-center">
                    <a href="/locos" class="btn btn-primary w-100">Управление секциями</a>
                </div>
                <div class="col-6 col-md-4 btn-container d-flex justify-content-center">
                    <a href="/loco_info/manage" class="btn btn-primary w-100">Управление ТПС</a>
                </div>
                <div class="col-6 col-md-4 btn-container d-flex justify-content-center">
                    <a href="/loco_blocks" class="btn btn-primary w-100">Поставки блоков на регион</a>
                </div>
                <div class="col-6 col-md-4 btn-container d-flex justify-content-center">
                    <a href="/receipt_blocks" class="btn btn-primary w-100">Поставки блоков на склад депо</a>
                </div>
                <div class="col-6 col-md-4 btn-container d-flex justify-content-center">
                    <a href="/shipment_blocks" class="btn btn-primary w-100">Отгрузка блоков со склада</a>
                </div>
                <div class="col-6 col-md-4 btn-container d-flex justify-content-center">
                    <a href="/spare_parts_receipts" class="btn btn-primary w-100">Поступление зап.частей и материалов</a>
                </div>
                <div class="col-6 col-md-4 btn-container d-flex justify-content-center">
                    <a href="/block-on-locos" class="btn btn-primary w-100">Блоки на локомотиве</a>
                </div>
                <div class="col-6 col-md-4 btn-container d-flex justify-content-center">
                    <a href="/block_removal" class="btn btn-primary w-100">Демонтаж блоков из локомотивов</a>
                </div>
                <div class="col-6 col-md-4 btn-container d-flex justify-content-center">
                    <a href="/repair_history/search" class="btn btn-primary w-100">Производство работ</a>
                </div>
                <div class="col-6 col-md-4 btn-container d-flex justify-content-center">
                    <a href="/repair_history/reports" class="btn btn-primary w-100">Отчеты</a>
                </div>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-12 text-end">
                <a href="/logout-success" class="btn btn-link">Выход</a>
            </div>
        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
