<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Главная - Поступления запчастей</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container mt-5">
    <h1 class="text-center">Главная - Поступления запчастей</h1>
    <div class="text-center mt-4">
        <a href="/spare_parts_receipts/all" class="btn btn-primary">Просмотреть все поступления/отгрузки</a>
        <a href="/spare_parts_receipts/create" class="btn btn-success">Добавить поступление</a>
        <a href="/spare_parts_receipts/search" class="btn btn-info">Поиск поступлений</a>
        <a href="/spare_parts_receipts/delete" class="btn btn-danger">Удалить поступление</a>
        <a href="/spare_parts_receipts/write_off" class="btn btn-success">Добавить отгрузку</a>
        <a href="/spare_parts_receipts/stock" class="btn btn-primary">Просмотреть все остатки</a>
        <a href="/spare_parts_receipts/shipped" class="btn btn-primary">Просмотреть все расходы</a>
        <a href="/spare_parts_receipts/deleteStock" class="btn btn-danger">Удалить отгрузку</a>
    </div>
    <div class="row mt-3">
        <div class="col-12 text-end">
            <a href="/navigation_bar" class="btn btn-link">Панель навигации</a>
        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
