<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="eng">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Управление складами</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/all_styles.css">
</head>
<body>
<div class="container mt-5">
    <div class="row">
        <div class="col-12 text-center">
            <h1>Управление складами</h1>
        </div>
        <div class="col-12 d-flex flex-column align-items-center">
            <a href="/storages/all" class="btn btn-primary mb-2">Список складов</a>
            <a href="/storages/create" class="btn btn-success mb-2">Добавить склад</a>
            <a href="/storages/search" class="btn btn-info mb-2">Поиск склада</a>
            <a href="/storages/delete" class="btn btn-danger mb-2">Удалить склад</a>
        </div>
        <div class="row mt-3">
            <div class="col-12 text-end">
                <a href="/navigation_bar" class="btn btn-link">Панель навигации</a>
            </div>
        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
