<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Добавление нового типа системы</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container mt-5">
    <h1 class="text-center">Добавление нового типа системы</h1>
    <form th:action="@{/system-names/create}" th:object="${systemName}" method="post">
        <div class="mb-3">
            <label for="sysName" class="form-label">Тип системы</label>
            <input type="text" class="form-control" id="sysName" th:field="*{sysName}" required>
        </div>
        <button type="submit" class="btn btn-primary">Сохранить</button>
    </form>
    <div class="row mt-3">
        <div class="col-12 text-end">
            <a href="/system-names" class="btn btn-link">Типы систем</a>
        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
