<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Серия секции успешно создана</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container mt-5">
    <h1 class="text-center">Серия секции успешно создана</h1>
    <ul class="mt-4">
        <li>ID: <span th:text="${createdTypeLoco.id}"></span></li>
        <li>Тип локомотива: <span th:text="${createdTypeLoco.locoType}"></span></li>
    </ul>
    <div class="text-center mt-4">
        <a href="/type-locos" class="btn btn-primary">Вернуться к списку серий секций</a>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
