<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="eng">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Данные сотрудника обновлены</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="/css/all_styles.css">
</head>
<body>
<div class="container">
  <div class="header">
    <a class="btn btn-link" th:href="@{/users}">Панель управления</a>
    <h1 class="text-center">Данные сотрудника обновлены</h1>
  </div>
  <div class="row justify-content-center">
    <div class="col-12 col-md-8 col-lg-6">
      <div class="alert alert-success" role="alert">
        Данные сотрудника успешно обновлены!
      </div>
      <table class="table table-striped">
        <thead>
        <tr>
          <th>ID</th>
          <th>Дата создания</th>
          <th>ФИО</th>
          <th>Логин</th>
          <th>Табельный номер</th>
          <th>Пароль</th>
          <th>Должность</th>
          <th>Дорога</th>
          <th>Подразделение</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td th:text="${updatedUser.id}"></td>
          <td th:text="${updatedUser.dateCreate}"></td>
          <td th:text="${updatedUser.fio}"></td>
          <td th:text="${updatedUser.login}"></td>
          <td th:text="${updatedUser.numberTable}"></td>
          <td th:text="${updatedUser.password}"></td>
          <td th:text="${updatedUser.post}"></td>
          <td th:text="${updatedUser.region}"></td>
          <td th:text="${updatedUser.unit}"></td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
